@{
	ViewData["Title"] = "Registration Page";
}<div class="login-container">
	<div class="screen">
		<div class="screen__content" style="display:flex;flex-direction:column;align-items:center; ">
			<img src="https://cdn-icons-png.flaticon.com/128/11153/11153590.png"/>
			<h1 class="login-h1" >Hi XYZ</h1>
			<h1 class="login-h1" >Thank you for being our member.(:</h1>
				<button class="button login__submit">
				<span class="button__text"><a class="navbar-brand-link" asp-area="" asp-controller="music" asp-action="catalog">Go to Catalog</a></span>
				</button>
			
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>
		

	</div>
</div>