@{
    ViewData["Title"] = "Home Page";
}

<div class="index-container">
    <div class="ind-text">
        <h1>Bring<br />
            <span class="style">music</span>in<br /> your life &#10497;</h1>
        <p>
            Harmony in every beat, find your rhythm retreat. Mantra Melodies, where music finds its eternal seat.
        </p>
     
            <button>Add to cart</button>

      

         

    </div>
    <div class="ind-img">
        <img src="~/index3.png" />
        
    </div>
    <div class="ind-extra">
        <div class="ind-info">
            <h4>Diverse Music Selection</h4>
            <p>Expansive, Inclusive, Genre-spanning, Varied, Comprehensive</p>
        </div>
        <div class="ind-info">
            <h4>User-Friendly Interface</h4>
            <p>Intuitive, Seamless Music Exploration</p>
        </div>
        <div class="ind-info">
            <h4>High-Quality Audio Formats</h4>
            <p>Crystal-Clear Sound Options Offered</p>
        </div>
        <div class="ind-info">
            <h4>Prompt Customer Support</h4>
            <p>Responsive Assistance, Issue Resolution</p>
        </div>
        
        
    </div>
    
</div>
